html
  head
    title= title
  body    
    - var columns = [' ', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'];
    - var rows = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'];

    h2 Player B's board
    table(border=2)
      tr
        each column in columns
          th= column
      - for (var i = 0; i < rows.length; i++) {
        tr
        - for (var j = 0; j < columns.length; j++) {
            if j == 0
                td= rows[i]
            else
              td= board[i][j]
        - }
      - }

    form(action="/boards/playerA/shoot" method="POST")
      h3 Shoot at:
      select 
        - for (var i = 1; i < columns.length; i++) {
            option= columns[i]
        - }
      select
        each row in rows
          option= row
      input(type="submit" value="Shoot")